<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    {% block metarefresh %} {% endblock %}
    <title>WaiterCaller</title>
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">Dashboard</a>
                    <a class="navbar-brand" href="/account">Account</a>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock content %}

    <div class="container">
        <hr>
        <footer>
            <p>&copy; IK 2021</p>
        </footer>
    </div>

    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
